/* General Reset */

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  --webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
   line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End General Reset */

/* General Settings */
:root {
  /* Primary Colors */
  --primary: hsl(172, 67%, 45%);

  /* Neutral Colors */
  --neutral-1: hsl(0, 0%, 100%);
  --neutral-2: hsl(189, 41%, 97%);
  --neutral-3: hsl(185, 41%, 84%);
  --neutral-4: hsl(184, 14%, 56%);
  --neutral-5: hsl(186, 14%, 43%);
  --neutral-6: hsl(183, 100%, 15%);

  /* Fonts Family */
  --ff-body: 'Space Mono', sans-serif;

  /* Fonts Weight */
  --fw-bold: 700;

  /* Font Size */
  --fs-body: 1.25rem;
}

html {
  scroll-behavior: smooth;
}

/* End General Settings */

/* General Styling */

body {
  background: var(--neutral-3);
  font-family: var(--ff-body);
  font-weight: var(--fw-bold);
  color: var(--neutral-5);
  font-size: var(--fs-body);
}

/* End General Styling */

/* Utilities */

.flex-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

/* End Utilities */

/* Section Style */

.title {
  text-align: center;
  padding: 2.25rem 0;
  font-size: 1.5rem;
  letter-spacing: 10px;
  line-height: 1.5;
}

.container {
  background: var(--neutral-1);
  border: none;
  border-radius: 25px;
  padding: 1.5rem;
}

.config-tip {
  padding-bottom: 2rem;
}

form {
  display: grid;
  gap: 2.5rem;
}

form p {
  font-size: 1rem;
}

.label {
  background: var(--neutral-2);
  margin-top: 5px;
  padding: 0.5rem 1.25rem;
  outline: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 10px;
  height: 3.5%;
}

label input {
  text-align: right;
}

input {
  color: var(--neutral-6);
  background: transparent;
  border: none;
  outline: none;
}

input::placeholder {
  color: var(--neutral-3);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Agrega aquí tus estilos personalizados */
}

.percentage-options {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.percentage-btn, #percentage {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
} 

.percentage-btn {
  display: flex;
  justify-content: center;
}

.default {
  cursor: pointer;
  color: var(--neutral-1);
  background: var(--neutral-6);
}

.hover {
  color: var(--neutral-6);
  background: var(--neutral-3);
  transition: 0.15s ease;
}

.selected {
  color: var(--neutral-6);
  background: var(--primary);
  transition: 0.15s ease;
}

#percentage {
  padding-inline: 1rem;
  text-align: center;
  background: var(--neutral-2);
}

#percentage::placeholder {
  color: var(--neutral-5);
}

.error-text {
  color: indianred;
  display: none;
}

.result-tip {
  background: var(--neutral-6);
  border-radius: 1rem;
  padding: 1.5rem;

  display: grid;
  align-content: space-between;
  gap: 3rem;
}

.result-screen-grid {
  display: grid;
  gap: 1.5rem;
}

.result-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-info p:nth-child(1) {
  color: var(--neutral-1);
  font-size: 0.875rem;
}

.result-info p:nth-child(2) {
  color: var(--neutral-4);
  font-size: 0.8rem;
}

.tip-amount, .total-amount {
  font-size: 2.25rem;
  color: var(--primary);
}

.reset-btn {
  cursor: pointer;
  padding: 0.5rem 0;
  color: var(--neutral-6);
  background: var(--primary);
  border: none;
  border-radius: 5px;
}

.reset-btn:hover {
  background: var(--neutral-3);
}

@media screen and (min-width: 700px) {
  .container {
    max-width: 700px;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1000px) {
  main {
    height: 70vh;
    display: grid;
    place-content: center;
  }

  .container {
    max-width: 800px;
    height: auto;
    margin-inline: auto;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .people-container div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .config-tip {
    padding: 0;
  }

  .percentage-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .result-tip {
    padding: 2rem;
  }

  .result-container {
    padding-top: 1rem;
  }
}
/* End Section Style */

/* Animations */ 